<div class="imessage" *ngIf="(replies | async)?.length" > 
    <p *ngFor="let reply of replies | async" [ngClass]="(reply.sender == 'student') ? 'from-me' : 'from-them' ">
      <span *ngIf="reply.sender !== 'student' " class="sender"> {{reply.sender}}</span>
        <span style="text-transform: capitalize;">{{reply.message}}</span>

          <mat-chip-list *ngIf="reply.attachments" style="display: flex;">
            <mat-chip *ngFor="let attachment of reply.attachments" class="attachment">
              <a class="attachment-link" (click)="downloadFile(attachment.downloadUrl, attachment.name ? attachment.name : 'undefined')">
              <mat-chip-avatar>
                  <mat-icon>task</mat-icon>
              </mat-chip-avatar>
              {{attachment.name ? attachment.name : 'undefined'}}
            </a>
            </mat-chip>
          </mat-chip-list>



    </p>

</div>

<div class="send-message-container">
  <mat-form-field style="width: 100%" class="example-full-width" appearance="fill">
    <mat-label>Scrie un mesaj</mat-label>
    <textarea matInput placeholder="Ex. Bună ziua" [(ngModel)]='messageContent' (keyup.enter)="sendMessage()"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</div>



  <div class="send-and-upload">
    <app-file-upload [uploadedFiles]="uploadedFiles" (uploadedFilesEmitter)="receiveUploadedFiles($event)" style="display: block; width: 100%"></app-file-upload>
  </div>
