::ng-deep .card-body {
    .btn {
        width: 100%;
        display: flex;
        gap: 0.5rem;
        padding: 0.25rem 1rem;
        font-weight: 500;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    .titleandbuttons {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .formName {
            font-size: 2rem;
        }
    }

    .buttons {
        display: flex;
        gap: 2rem;
        height: fit-content;
    }
}

::ng-deep .form-group.has-feedback.formio-component.formio-component-button.formio-component-submit.form-group {
    display: flex;
    justify-content: center;
    margin: 1rem;
    button {
        min-width: 20%;
    }
}

::ng-deep {
    .accordion.builder-sidebar.builder-sidebar_scroll {
        min-width: 145px;
    }
}

