<div class="submission-details">
    <div *ngIf="submissionId" class="content">

        <ng-container #submissionDetails *ngFor="let item of submissionId.data | keyvalue">
            <div class="info" *ngIf="item.key!== 'submit'">
                <div class="question">
                    {{item.key}}
                </div>
                <div class="answer">{{item.value}}</div>
            </div>
        </ng-container>


    </div>

    <div *ngIf="submissionId" class="chat">
        <app-chat [submissionId]="submissionId.id"></app-chat>

    </div>
</div>