.navigation {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  .mat-toolbar {
    justify-content: space-between;

    .user-panel {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: auto;

      mat-icon {
        font-size: 2rem;
        height: auto;
        width: auto;
      }
    }
  }

  .menu-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;

    .menu-item-container {
      // &.restricted {
      //   background-color: #a8dab5;
      //   margin: 1px 0;
      // }

      ::ng-deep .mat-list-item-content {
        gap: 1rem;

        .menu-icon {
          font-size: 2rem;
          color: #3f51b5;
          height: auto;
          width: auto;
        }
      }

      .active {
        background-color: #80808054 !important;
        font-weight: 500;
        transition: all 0.4s;
        font-size: 120%;
      }
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
    img {
      width: 50%;
    }
  }
}

.user-info {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  .display-name {
    margin: 0;
  }
}
