<div class="card animate__animated animate__fast animate__flipInX">
    <mat-card>
        <div class="card-header">
            <div class="card-icon">
                <mat-icon>mark_email_unread</mat-icon>
            </div>
            <div class="content">
                <p class="title">Mesaje noi </p>
                <div class="description">
                    <p>{{ unreadMessages }} </p>
                    <mat-icon>mark_email_unread</mat-icon>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <mat-icon>schedule</mat-icon>
            <p class="footer-text">Citește mesajele</p>
        </div>

    </mat-card>
</div>